@media screen and (max-width: 549px) {
   .left_part  h3 {
    font-size: 10px;
   }
   .header_text h1 { 
    font-size: 32px;
  }
  .header_text h4 {
    font-size: 12px;
  }
  .logo {
    height: 75px; 
  }
}
@media screen and (min-width: 550px) {
 
}
@media screen and (min-width: 700px) {
   
}

@media screen and (min-width: 850px) {
 
}